In [36]:
import pandas as pd

In [37]:
df = pd.read_csv("Datasets/titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [38]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [39]:
inputs = df.drop('Survived',axis='columns')
target = df.Survived

In [40]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)

   female   male
0   False   True
1    True  False
2    True  False

In [41]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female   male
0       3    male  22.0   7.2500   False   True
1       1  female  38.0  71.2833    True  False
2       3  female  26.0   7.9250    True  False

In [42]:
inputs.drop(['Sex'],axis='columns',inplace=True)
inputs

     Pclass   Age     Fare  female   male
0         3  22.0   7.2500   False   True
1         1  38.0  71.2833    True  False
2         3  26.0   7.9250    True  False
3         1  35.0  53.1000    True  False
4         3  35.0   8.0500   False   True
..      ...   ...      ...     ...    ...
886       2  27.0  13.0000   False   True
887       1  19.0  30.0000    True  False
888       3   NaN  23.4500    True  False
889       1  26.0  30.0000   False   True
890       3  32.0   7.7500   False   True

[891 rows x 5 columns]

In [43]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [44]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [45]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female   male
0       3  22.0   7.2500   False   True
1       1  38.0  71.2833    True  False
2       3  26.0   7.9250    True  False
3       1  35.0  53.1000    True  False
4       3  35.0   8.0500   False   True

In [46]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3,random_state=42)

In [47]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [48]:
X_train

     Pclass        Age      Fare  female   male
445       1   4.000000   81.8583   False   True
650       3  29.699118    7.8958   False   True
172       3   1.000000   11.1333    True  False
450       2  36.000000   27.7500   False   True
314       2  43.000000   26.2500   False   True
..      ...        ...       ...     ...    ...
106       3  21.000000    7.6500    True  False
270       1  29.699118   31.0000   False   True
860       3  41.000000   14.1083   False   True
435       1  14.000000  120.0000    True  False
102       1  21.000000   77.2875   False   True

[623 rows x 5 columns]

In [49]:
model.fit(X_train,y_train)

GaussianNB()

In [50]:
model.score(X_test,y_test)

0.7873134328358209

In [51]:
X_test[0:10]

     Pclass        Age     Fare  female   male
709       3  29.699118  15.2458   False   True
439       2  31.000000  10.5000   False   True
840       3  20.000000   7.9250   False   True
720       2   6.000000  33.0000    True  False
39        3  14.000000  11.2417    True  False
290       1  26.000000  78.8500    True  False
300       3  29.699118   7.7500    True  False
333       3  16.000000  18.0000   False   True
208       3  16.000000   7.7500    True  False
136       1  19.000000  26.2833    True  False

In [52]:
y_test[0:10]

709    1
439    0
840    0
720    1
39     1
290    1
300    1
333    0
208    1
136    1
Name: Survived, dtype: int64

In [53]:
model.predict(X_test[0:10])

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1])

In [54]:
model.predict_proba(X_test[:10])

array([[0.99069126, 0.00930874],
       [0.98045868, 0.01954132],
       [0.98846413, 0.01153587],
       [0.0169045 , 0.9830955 ],
       [0.0543304 , 0.9456696 ],
       [0.00200164, 0.99799836],
       [0.07571196, 0.92428804],
       [0.98741304, 0.01258696],
       [0.05691198, 0.94308802],
       [0.00895237, 0.99104763]])

### Calculate the score using cross validation

In [55]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=5)

array([0.728     , 0.872     , 0.728     , 0.75806452, 0.81451613])